[submodule "HowToWaste API"]
	path = HowToWaste-API
	url = https://github.com/DouglasHdezT/HowToWaste-API.git
[submodule "HowToWaste Mobile Client"]
	path = HowToWaste-MobileClient
	url = https://github.com/DouglasHdezT/HowToWaste-MobileClient.git
